@import 'global';
@import 'fonts';
@import 'vars';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    border-spacing: inherit;
}

.title {
    font-size: 50px;
    text-align: center;
    color: $blue;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 2px;
        max-width: 600px;
        width: 100%;
        top: 60px;
        background-color: $blue;
        left: 0;
        right: 0;
        margin: 0 auto;


    }

}

.header__menu-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;


}

.menu__logo {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    a {
        width: 100%;
        height: 100%;
    }
}

.menu__address {
    max-width: 365px;
    position: relative;
    padding-left: 40px;

    span {
        font-size: 20px;
        line-height: 30px;

    }

    &::before {
        content: '\f041';
        font-family: 'icomoon';
        font-size: 35px;
        color: #3498DB;
        position: absolute;
        left: 0;
        top: 10px;
    }
}

.menu__contact {


    a {
        display: block;
        font-size: 20px;
        line-height: 30px;
    }

    .tel {
        &::before {
            content: '\f095 ';
            color: #3498DB;
        }

        &:hover {
            color: #3498DB;
        }
    }

    .mail {
        &::before {
            content: '\f003 ';
            color: #3498DB;
        }

        &:hover {
            color: #3498DB;
        }
    }
}

.menu__btn a {
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
    border-radius: 8px;
    padding: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px;


    &::before {
        content: '\f007';
        color: #fff;
        font-size: 20px;
        font-weight: 400;
    }

    &:hover {
        color: rgb(255, 255, 255);
        background: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
    }

    &:active {
        color: rgb(255, 255, 255);
        border-color: #2970a9;
        background-image: linear-gradient(#5796c8, #6aa2ce);
        box-shadow: none;
    }
}

.header__menu-down {
    height: 50px;
    font-size: 16px;
    background-color: $bluebg;
    position: relative;

    ul,
    li {
        display: inline-block;
        color: #000;
        margin: 0;
        padding: 0px;
        text-decoration: none;
        list-style: none;
    }

    ul {
        display: flex;
        align-items: center;

    }

    a {
        height: 100%;
        color: #fff;
        text-transform: uppercase;
        padding: 15px;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            top: 35px;
            bottom: 30px;
            background-color: $blue;
            transform: translateX(-101%);
            transition: all .5s ease-in-out;

        }

        &:hover {
            &::after {
                transform: translateX(0);
            }
        }
    }

    .calc {
        margin-left: 85px;

        &::before {
            content: '\f1ec';
            color: #fff;
        }
    }

    .gruz {
        &::before {
            content: '\f187';
            color: #fff;
        }
    }

    .list {
        &::before {
            content: '\f1ea';
            color: #fff;
        }
    }
}

.burger {
    position: absolute;
    display: none;
    margin-left: 15px;
    top: 10px;
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.f-nav {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}



// ========= slider  =============


.slider {
    border: none;



    .form__wrapper {
        font-size: 18px;
        color: $blue;
        right: 5%;
        top: 200px;
        position: absolute;
        max-width: 410px;
        background-color: #fff;
        opacity: .9;
        border-radius: 8px;
        padding: 10px;
        transition: all 0.8s ease 0s;
        box-shadow: 0px 0px 20px $blue;
        margin: 0;
        z-index: 100;
        overflow-x: hidden;

        .popup__close {
            opacity: 0;
            padding: 5px;
        }

        .form1 {
            overflow-x: hidden;

            p {
                padding: 10px;
                margin: 0;

            }

            input {
                border: 1px solid $blue;
            }

            &>input,
            label {
                width: 100%;
                padding: 10px;
                display: block;
            }

            .mass {
                display: flex;
                justify-content: space-around;

                p>input {
                    width: 100px;
                    padding: 5px;
                }

            }

            button {
                width: 100%;
                margin-top: 15px;
                padding: 10px 20px;
                border-radius: 8px;
                background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
                border: none;
                outline: none;
                cursor: pointer;
                color: #fff;

                &:hover {
                    color: rgb(255, 255, 255);
                    background: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
                }

                &:active {
                    color: rgb(255, 255, 255);
                    border-color: #2970a9;
                    background-image: linear-gradient(#5796c8, #6aa2ce);
                    box-shadow: none;
                }
            }
        }

        .form2 {
            margin-top: 20px;

            input {
                padding: 5px;
                border: 1px solid $blue;
            }

            button {
                margin-top: 15px;
                padding: 10px 20px;
                border-radius: 8px;
                background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
                border: none;
                outline: none;
                cursor: pointer;
                color: #fff;

                &:hover {
                    color: rgb(255, 255, 255);
                    background: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
                }

                &:active {
                    color: rgb(255, 255, 255);
                    border-color: #2970a9;
                    background-image: linear-gradient(#5796c8, #6aa2ce);
                    box-shadow: none;
                }
            }
        }

    }

}

.slider__item {
    margin: 0;
    padding: 0;
    height: 100%;


    &-img {
        overflow: hidden;
        width: 100%;
        height: 0;
        padding-bottom: 40%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .slider__item-title {
            position: absolute;
            color: #fff;
            text-shadow: 3px 3px 0px $bluebg;

            top: 10%;
            margin-left: 10%;

            span {
                font-size: calc(20px + 40 *(100vw / 1200));
                font-weight: 700;
            }
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    z-index: 2;
}

.slick-dots li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0px 10px;
    border: 2px solid $bluebg;
    background-color: $blue;
    list-style: none;

    button {
        font-size: 0;
        border: none;
        text-decoration: none;
        outline: none;
        opacity: 0;
    }
}

.slick-dots {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;

    li.slick-active {
        background-color: #fff;
    }
}

//  ===========  work  ===========

.work {
    padding: 50px 0px;
}

.work__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.work__item {
    width: 23%;
    margin: 0px 10px 25px;
    background-color: $blue;
    border: 1px solid #fff;
    overflow: hidden;

    &-title {
        font-size: 25px;
        font-weight: 600;
        color: $blue;
        padding-bottom: 20px;
        background-color: #fff;
    }

    &-img {
        width: 100%;
        height: 0;
        padding-bottom: 70%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        transition: all 1s ease-out;

        &:hover {
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            transform: scale(1.05);
        }
    }

    &-text {
        padding: 10px;
        min-height: 100px;
        color: #fff;

        span {
            font-size: 20px;
            line-height: 25px;
        }
    }
}



//   ================  guarantee  ===========


.guarantee {
    background-image: url(../img/guaranteebg.jpg)
}

.guarantee__wrapper {
    text-align: center;
    padding: 100px 0px;
    color: #fff;
    background-color: rgba($color: $bluebg, $alpha: 0.9);

}

.guarantee-title {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.guarantee-text {
    margin: 0 auto;
    max-width: 1300px;
    line-height: 25px;
    padding: 0 15px;
}



//  =======  services  ========


.services {
    padding: 50px 0px;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.services__item {
    margin: 10px;
    padding: 10px;
    display: flex;
    max-width: 275px;
    width: 100%;
    box-shadow: 0px 0px 5px 1px $blue;

    &-icon {
        padding-top: 5px;
    }

    &-text {
        font-size: 20px;
        padding-left: 15px;
        padding-top: 5px;
    }
}

//  ==========  auto  ============

.auto {
    background-color: rgb(238, 244, 255);
    padding: 50px 0px;
}

.auto__item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #fff;

    .info-title {
        p {
            font-size: 18px;
            color: $blue;
            margin-bottom: 20px;
            margin-top: 0px;
        }
    }


    &-img {
        width: 450px;
        height: 200px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        transition: all 1s ease-out;


        &:hover {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);

        }
    }

    &-info {
        min-width: 250px;

        p {
            margin-top: 12px;
        }

        span {
            float: right;
            font-weight: 600;
        }
    }

    &-text {
        width: 400px;
        padding-left: 20px;
    }
}


// =========== clients =====

.clients {
    padding: 50px 0px;
}

.clients__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
    flex-wrap: wrap;
}

.clients__img {
    max-width: 150px;
    min-width: 100px;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;

}

// ============  footer  ======

.footer {
    background-color: rgb(230, 230, 230);
    padding: 50px 0px;

    ul,
    li {
        display: inline-block;
        color: #000;
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.footer__item {
    max-width: 365px;

    .footer__title {
        font-size: 22px;
        font-weight: 600;
        color: $blue;
        margin-bottom: 15px;
    }

    .menu__logo {
        margin-bottom: 15px;
        height: 130px;
        width: 130px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .menu__address {
        margin-bottom: 20px;
    }
}

.footer__soc {
    text-align: center;

    .menu__btn {
        margin-top: 50px;
    }
}

.footer__down {
    text-align: center;

    a {

        &:hover {
            text-decoration: underline;
            color: $blue;
        }
    }

}

// ========== upload  ===========

.upload {

    .container {
        background-color: rgb(238, 244, 255);
    }

}

.upload-title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
    color: $blue;
    text-align: center;
}

.upload-content {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;

    p {
        font-size: 20px;
        font-weight: 600;
        margin: 30px 0px;

    }

}


//   =========== error  ==============


.error {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    max-width: 100%;
    margin: 0 auto;
}

// ========= contacts  ===========

.contacts__text {
    line-height: 35px;
    margin-bottom: 30px;

    p {
        font-size: 25px;
        font-weight: 600;

        a {
            font-weight: 400;
            margin-top: 10px;

            &:hover {
                color: $blue;
            }
        }
    }

    span {
        font-size: 20px;
    }
}

.contacts {
    .title {
        &::after {
            content: '';
            display: none;
        }
    }
}

.contacts__content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.contacts__text {
    max-width: 400px;
}

.contacts__form {
    background-color: rgba(52, 152, 219, .2);
    border-radius: 8px;
    padding: 10px;
    font-size: 18px;
    width: 550px;

    .row {
        display: block;
        margin-bottom: 7px;

        label {
            display: inline-block;
            font-weight: bold;
            width: 150px;
            padding: 6px 0;
            color: #464646;
            vertical-align: top;
        }

        .req {
            color: #ca5354;
        }
    }

    .center {
        text-align: center;

        input {
            cursor: pointer;
        }

    }

    button,
    input,
    optgroup,
    select,
    textarea {
        width: 100%;
        padding: 10px;

    }

}

.contact-map {
    margin-bottom: 20px;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
    z-index: 10;

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

    }
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__content {
    transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    opacity: 1;
}

.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 500px;
    padding: 30px;
    position: relative;
    border-radius: 8px;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    z-index: 5;
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.popup__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    input {
        font-size: 20px;
        padding: 8px;
        margin: 10px 0;
        outline-color: $blue;
        border: 1px solid rgba(0, 0, 0, 0.3);
        width: 100%;

    }

    a {
        font-weight: 700;
        margin-bottom: 15px;

        &:hover {
            color: $blue;
        }
    }

}

.popup__form-title {
    font-size: 35px;
    padding: 0 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blue;

}

.popup-btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 8px;
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;

    &:hover {
        color: rgb(255, 255, 255);
        background: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
    }
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


@import 'media';